{% extends "base.html" %}

{% block title%}新增商店{{ block.super }}{% endblock title%}


{% block content%}
<form action="" method="post" role="form">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label">店名</label>
        <input name="name" class="mdl-textfield__input" type="text" />
    </div>
    <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label">類別</label>
        <input name="category" class="mdl-textfield__input" type="text" />
    </div>
    <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label">城市</label>
        <select name="city">
            <option value="1">台北市</option>
        </select>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label">區</label>
        <select name="area">
            <option value="3">松山區</option>
            <option value="4">中山區</option>
        </select>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label">地址</label>
        <input name="address" class="mdl-textfield__input" type="text" />
    </div>
    <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label">郵遞區號</label>
        <input name="post_code" class="mdl-textfield__input" type="text" />
    </div>
    <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label">聯絡電話</label>
        <input name="telephone" class="mdl-textfield__input" type="text" />
    </div>
    <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label">網站</label>
        <input name="website" class="mdl-textfield__input" type="text" />
    </div>
    <div>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">新增</button>
    </div>
</form>
{% endblock content%}
