{% extends "base.html" %}

{% block title%}商店資訊修改{{ block.super }}{% endblock title%}


{% block content%}
<form action="" method="post" role="form">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label">店名</label>
        <input name="name" class="mdl-textfield__input" type="text"  value="{{ store.name }}" />
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label">類別</label>
        <input name="category" class="mdl-textfield__input" type="text"  value="{{ store.category }}" />
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label">城市</label>
        <select name="city" value="{{ store.city_id }}">
            <option value="1">台北市</option>
            <option value="2">新北市</option>
        </select>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label">區</label>
        <select name="area" id="areaSelect">
            {% for area in areas %}
                <option value="{{ area.id }}">{{ area.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label">地址</label>
        <input name="address" class="mdl-textfield__input" type="text"  value="{{ store.address }}" />
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label">聯絡電話</label>
        <input name="telephone" class="mdl-textfield__input" type="text"  value="{{ store.telephone }}" />
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label">網站</label>
        <input name="website" class="mdl-textfield__input" type="text"  value="{{ store.website }}" />
    </div>
    <div>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">修改</button>
    </div>
</form>
{% endblock content%}

{% block script %}
<script>
    (function(){
        var initUpdateArea = function(){
            $('#areaSelect').val({{ store.area_id }});
        };
        initUpdateArea();
    })();

</script>
{% endblock %}