{% extends "base.html" %}

{% block title%}商店資訊修改{{ block.super }}{% endblock title%}


{% block content%}
<form action="" method="post" role="form">
    {% csrf_token %}
    <div>
        <label>店名</label>
        <input name="name" value="{{ store.name }}" />
    </div>
    <div>
        <label>類別</label>
        <input name="category" value="{{ store.category }}" />
    </div>
    <div>
        <label>城市</label>
        <input name="city" value="{{ store.city }}" />
    </div>
    <div>
        <label>區</label>
        <input name="area" value="{{ store.area }}" />
    </div>
    <div>
        <label>地址</label>
        <input name="address" value="{{ store.address }}" />
    </div>
    <div>
        <label>郵遞區號</label>
        <input name="post_code" value="{{ store.post_code }}" />
    </div>
    <div>
        <label>聯絡電話</label>
        <input name="telephone" value="{{ store.telephone }}" />
    </div>
    <div>
        <label>網站</label>
        <input name="website" value="{{ store.website }}" />
    </div>
    <div>
    <button type="submit">修改</button>
    </div>
</form>
{% endblock content%}
